android/build/
android/react-native-aliyun-oss-jssdk.iml
node_modules/
.idea
.DS_Store
Example/ios/Pods/
package-lock.json
Example/ios/Example.xcodeproj/project.pbxproj
ios/RNAliyunOSS.xcodeproj/project.xcworkspace/
Example/package-lock.json

android/.project
android/.settings
android/.gradle
android/.classpath
Example/android/.project
Example/android/.settings
Example/android/.gradle
Example/android/.classpath